In [2]:
import pandas as pd

In [29]:
pwt_data = {'countrycode': ['CHN', 'CHN', 'CHN', 'FRA', 'FRA', 'FRA'],
        'pop': [1124.8, 1246.8, 1318.2, 58.2, 60.8, 64.7],
        'rgdpe': [2.611, 4.951, 11.106, 1.294, 1.753, 2.032],
        'year': [1990, 2000, 2010, 1990, 2000, 2010]}

pwt = pd.DataFrame(pwt_data)

## 1st Problem Set

In [4]:
pwt.shape

(6, 4)

In [5]:
pwt.dtypes

countrycode     object
pop            float64
rgdpe          float64
year             int64
dtype: object

In [6]:
pwt.columns.tolist()

['countrycode', 'pop', 'rgdpe', 'year']

In [8]:
list(pwt)

['countrycode', 'pop', 'rgdpe', 'year']

In [9]:
list(pwt)[0]

'countrycode'

In [10]:
type(list(pwt)[0])

str

In [13]:
pwt.set_index('year')

     countrycode     pop   rgdpe
year
1990         CHN  1124.8   2.611
2000         CHN  1246.8   4.951
2010         CHN  1318.2  11.106
1990         FRA    58.2   1.294
2000         FRA    60.8   1.753
2010         FRA    64.7   2.032

## 2nd Problem Set

In [14]:
pwt.loc[pwt['countrycode'] == 'FRA']

  countrycode   pop  rgdpe  year
3         FRA  58.2  1.294  1990
4         FRA  60.8  1.753  2000
5         FRA  64.7  2.032  2010

In [15]:
pwt[pwt['year']==2010]

  countrycode     pop   rgdpe  year
2         CHN  1318.2  11.106  2010
5         FRA    64.7   2.032  2010

In [16]:
pwt[pwt['year'] > 1990]

  countrycode     pop   rgdpe  year
1         CHN  1246.8   4.951  2000
2         CHN  1318.2  11.106  2010
4         FRA    60.8   1.753  2000
5         FRA    64.7   2.032  2010

## 3rd Problem Set

In [37]:
df=pd.DataFrame(data)
df

       GDP      CPI  Year Country
0   5974.7  127.500  1990      US
1  10031.0  169.300  2000      US
2  14681.1  217.488  2010      US

df.columns = ["cpi", "country", "gdp", "year"]
df.columns = [var.upper() for var in df.columns]
df = df.rename(columns = {"GDP":"NGDP"})
df

In [34]:
data = {"GDP": [5974.7, 10031.0, 14681.1],
                   "CPI": [127.5, 169.3, 217.488],
                   "Year": [1990, 2000, 2010],
                   "Country": ["US", "US", "US"]}

In [38]:
df['CPI']

0    127.500
1    169.300
2    217.488
Name: CPI, dtype: float64

In [40]:
df['rgdp'] = df['GDP']/df['CPI']

In [44]:
df.columns = [var.lower() for var in df.columns]

In [45]:
df

       gdp      cpi  year country       rgdp
0   5974.7  127.500  1990      US  46.860392
1  10031.0  169.300  2000      US  59.249852
2  14681.1  217.488  2010      US  67.503035

In [46]:
df['diff']= df['gdp']-df['rgdp']

In [47]:
df

       gdp      cpi  year country       rgdp          diff
0   5974.7  127.500  1990      US  46.860392   5927.839608
1  10031.0  169.300  2000      US  59.249852   9971.750148
2  14681.1  217.488  2010      US  67.503035  14613.596965

In [53]:
df[['gdp','year']]

       gdp  year
0   5974.7  1990
1  10031.0  2000
2  14681.1  2010

In [54]:
df[df['year']==2000]

       gdp    cpi  year country       rgdp         diff
1  10031.0  169.3  2000      US  59.249852  9971.750148

In [55]:
df.drop("diff", axis = 1)

       gdp      cpi  year country       rgdp
0   5974.7  127.500  1990      US  46.860392
1  10031.0  169.300  2000      US  59.249852
2  14681.1  217.488  2010      US  67.503035

In [56]:
df

       gdp      cpi  year country       rgdp          diff
0   5974.7  127.500  1990      US  46.860392   5927.839608
1  10031.0  169.300  2000      US  59.249852   9971.750148
2  14681.1  217.488  2010      US  67.503035  14613.596965

In [57]:
df.drop(0,axis = 0)

       gdp      cpi  year country       rgdp          diff
1  10031.0  169.300  2000      US  59.249852   9971.750148
2  14681.1  217.488  2010      US  67.503035  14613.596965

## 4th Problem Set

In [59]:
df.mean(axis = 0)

gdp     10228.933333
cpi       171.429333
year     2000.000000
rgdp       57.871093
diff    10171.062240
dtype: float64

In [65]:
df[df['year'] == 2000].sum(axis =1)

1    22231.3
dtype: float64

In [67]:
sum_num = 0
count = 0
for i in df['gdp']:
    if i > 6000:
        count+=1
        sum_num+=i
sum_num/count

12356.05